/**
 * Overrides for IE-7 only.
 * After trying many 3rd party libraries and other options this seem to be the most
 * efficient way to solve the IE7 specific bugs
 */

.homepage-badges .span4 {
  width: 30% !important;
}

.homepage-menu-sections .span4 {
  width: 31% !important;
}

#page-header .logo img {
	margin-bottom: 40px;
}

.form-search .input-append {
	margin-right: 40px;
	position: relative;
	right: 40px;
}

.input-append input[name="search_block_form"] {
	padding-left: 50px;
	width: 460px !important;
}

/* link spacing issues */
#block-menu-block-platform-menus-3 ul li a,
#block-menu-menu-footer-menu ul li a {
	padding-right: 15px;
	border-right: 1px solid #4B4B4B;
	padding-left: 10px;
}

#block-menu-menu-footer-menu ul li a {
	border-right: 1px solid #fff;
	padding-left: 10px;
}

#block-menu-block-platform-menus-3 ul li.last a,
#block-menu-menu-footer-menu ul li.last a {
	padding-right: 0;
	border-right: 0;
	margin-right: 0;
}

#page-footer {
  margin-top: 45px;
  padding: 35px 0 36px;
  border-top: 1px solid #E5E5E5;
  width: 100%;
}

#page-footer {
  background-color: #333333;
  text-align: center;
  width: 100%;
}
#page-footer a {
  color: #ffffff;
  font-weight: bold;
}
#page-footer .nav > li > a:hover {
  color: #ffffff;
}
@media (min-width: 768px) {
  #page-footer .menu li {
    display: inline;
  }
  #page-footer .menu li:after {
    color: #ffffff;
    content: "|";
    margin-right: 6px;
    padding-left: 10px;
  }
  #page-footer .menu li.last:after {
    display: none;
  }
  #page-footer .menu li a {
    display: inline;
    /* need to remove block */
  
  }
}

@media (max-width: 767px) {
  #page-footer #block-menu-menu-footer-menu li {
    padding-top: 25px;
  }
  #page-footer #block-menu-menu-footer-menu li.first {
    padding-top: 0;
  }
}
#page-footer #block-menu-menu-social-links {
  margin-top: 20px;
}
#page-footer #block-menu-menu-social-links .menu li {
  display: inline;
}
#page-footer #block-menu-menu-social-links .menu li a {
  height: 25px;
  display: inline-block;
  padding-top: 5px;
}
#page-footer #block-menu-menu-social-links .menu li:after {
  content: "";
  margin-right: 6px;
  padding-left: 10px;
}
#page-footer #block-menu-menu-social-links .twitter {
  background-image: url("../images/twitter.png");
  background-repeat: no-repeat;
  padding-left: 40px;
}
#page-footer #block-menu-menu-social-links .linkedin {
  background-image: url("../images/linkedin.png");
  background-repeat: no-repeat;
  padding-left: 35px;
}
#page-footer #boxes-box-copyright_note {
  color: #999;
  margin-top: 15px;
}